<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>wsManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.ws.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTypeContratCollaborateur</display-name>
    <servlet-name>GestionTypeContratCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.typeContratCollaborateur.GestionTypeContratCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTypeContratCollaborateur</servlet-name>
    <url-pattern>/gestionTypeContratCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajTypeContratCollaborateur</display-name>
    <servlet-name>MajTypeContratCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.typeContratCollaborateur.MajTypeContratCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajTypeContratCollaborateur</servlet-name>
    <url-pattern>/majTypeContratCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieTypeContratCollaborateur</display-name>
    <servlet-name>CopieTypeContratCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.typeContratCollaborateur.CopieTypeContratCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieTypeContratCollaborateur</servlet-name>
    <url-pattern>/copieTypeContratCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTypeContratCollaborateur</display-name>
    <servlet-name>VisualisationTypeContratCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.typeContratCollaborateur.VisualisationTypeContratCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTypeContratCollaborateur</servlet-name>
    <url-pattern>/visualisationTypeContratCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTypeContratCollaborateur</display-name>
    <servlet-name>AjoutTypeContratCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.typeContratCollaborateur.AjoutTypeContratCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTypeContratCollaborateur</servlet-name>
    <url-pattern>/ajoutTypeContratCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionTypeContratCollaborateur</display-name>
    <servlet-name>SuppressionTypeContratCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.typeContratCollaborateur.SuppressionTypeContratCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTypeContratCollaborateur</servlet-name>
    <url-pattern>/suppressionTypeContratCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTypeContratSociete</display-name>
    <servlet-name>GestionTypeContratSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeContratSociete.GestionTypeContratSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTypeContratSociete</servlet-name>
    <url-pattern>/gestionTypeContratSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajTypeContratSociete</display-name>
    <servlet-name>MajTypeContratSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeContratSociete.MajTypeContratSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajTypeContratSociete</servlet-name>
    <url-pattern>/majTypeContratSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieTypeContratSociete</display-name>
    <servlet-name>CopieTypeContratSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeContratSociete.CopieTypeContratSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieTypeContratSociete</servlet-name>
    <url-pattern>/copieTypeContratSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTypeContratSociete</display-name>
    <servlet-name>VisualisationTypeContratSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeContratSociete.VisualisationTypeContratSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTypeContratSociete</servlet-name>
    <url-pattern>/visualisationTypeContratSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTypeContratSociete</display-name>
    <servlet-name>AjoutTypeContratSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeContratSociete.AjoutTypeContratSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTypeContratSociete</servlet-name>
    <url-pattern>/ajoutTypeContratSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionTypeContratSociete</display-name>
    <servlet-name>SuppressionTypeContratSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeContratSociete.SuppressionTypeContratSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTypeContratSociete</servlet-name>
    <url-pattern>/suppressionTypeContratSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTypeSociete</display-name>
    <servlet-name>GestionTypeSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeSociete.GestionTypeSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTypeSociete</servlet-name>
    <url-pattern>/gestionTypeSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajTypeSociete</display-name>
    <servlet-name>MajTypeSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeSociete.MajTypeSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajTypeSociete</servlet-name>
    <url-pattern>/majTypeSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieTypeSociete</display-name>
    <servlet-name>CopieTypeSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeSociete.CopieTypeSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieTypeSociete</servlet-name>
    <url-pattern>/copieTypeSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTypeSociete</display-name>
    <servlet-name>VisualisationTypeSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeSociete.VisualisationTypeSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTypeSociete</servlet-name>
    <url-pattern>/visualisationTypeSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTypeSociete</display-name>
    <servlet-name>AjoutTypeSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeSociete.AjoutTypeSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTypeSociete</servlet-name>
    <url-pattern>/ajoutTypeSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionTypeSociete</display-name>
    <servlet-name>SuppressionTypeSociete</servlet-name>
    <servlet-class>com.ws.servlets.typeSociete.SuppressionTypeSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTypeSociete</servlet-name>
    <url-pattern>/suppressionTypeSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCalendrier</display-name>
    <servlet-name>GestionCalendrier</servlet-name>
    <servlet-class>com.ws.servlets.calendrier.GestionCalendrier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCalendrier</servlet-name>
    <url-pattern>/gestionCalendrier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCollaborateur</display-name>
    <servlet-name>GestionCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.collaborateur.GestionCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCollaborateur</servlet-name>
    <url-pattern>/gestionCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajCollaborateur</display-name>
    <servlet-name>MajCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.collaborateur.MajCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajCollaborateur</servlet-name>
    <url-pattern>/majCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieCollaborateur</display-name>
    <servlet-name>CopieCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.collaborateur.CopieCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieCollaborateur</servlet-name>
    <url-pattern>/copieCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationCollaborateur</display-name>
    <servlet-name>VisualisationCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.collaborateur.VisualisationCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationCollaborateur</servlet-name>
    <url-pattern>/visualisationCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutCollaborateur</display-name>
    <servlet-name>AjoutCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.collaborateur.AjoutCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutCollaborateur</servlet-name>
    <url-pattern>/ajoutCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionCollaborateur</display-name>
    <servlet-name>SuppressionCollaborateur</servlet-name>
    <servlet-class>com.ws.servlets.collaborateur.SuppressionCollaborateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionCollaborateur</servlet-name>
    <url-pattern>/suppressionCollaborateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTva</display-name>
    <servlet-name>GestionTva</servlet-name>
    <servlet-class>com.ws.servlets.tva.GestionTva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTva</servlet-name>
    <url-pattern>/gestionTva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajTva</display-name>
    <servlet-name>MajTva</servlet-name>
    <servlet-class>com.ws.servlets.tva.MajTva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajTva</servlet-name>
    <url-pattern>/majTva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieTva</display-name>
    <servlet-name>CopieTva</servlet-name>
    <servlet-class>com.ws.servlets.tva.CopieTva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieTva</servlet-name>
    <url-pattern>/copieTva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTva</display-name>
    <servlet-name>VisualisationTva</servlet-name>
    <servlet-class>com.ws.servlets.tva.VisualisationTva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTva</servlet-name>
    <url-pattern>/visualisationTva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTva</display-name>
    <servlet-name>AjoutTva</servlet-name>
    <servlet-class>com.ws.servlets.tva.AjoutTva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTva</servlet-name>
    <url-pattern>/ajoutTva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionTva</display-name>
    <servlet-name>SuppressionTva</servlet-name>
    <servlet-class>com.ws.servlets.tva.SuppressionTva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTva</servlet-name>
    <url-pattern>/suppressionTva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionParametre</display-name>
    <servlet-name>GestionParametre</servlet-name>
    <servlet-class>com.ws.servlets.parametre.GestionParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionParametre</servlet-name>
    <url-pattern>/gestionParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudParametre</display-name>
    <servlet-name>CrudParametre</servlet-name>
    <servlet-class>com.ws.servlets.parametre.CrudParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudParametre</servlet-name>
    <url-pattern>/crudParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudParametreMultiligne</display-name>
    <servlet-name>CrudParametreMultiligne</servlet-name>
    <servlet-class>com.ws.servlets.parametre.CrudParametreMultiligne</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudParametreMultiligne</servlet-name>
    <url-pattern>/crudParametreMultiligne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieParametre</display-name>
    <servlet-name>CopieParametre</servlet-name>
    <servlet-class>com.ws.servlets.parametre.CopieParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieParametre</servlet-name>
    <url-pattern>/copieParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationParametre</display-name>
    <servlet-name>VisualisationParametre</servlet-name>
    <servlet-class>com.ws.servlets.parametre.VisualisationParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationParametre</servlet-name>
    <url-pattern>/visualisationParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutParametre</display-name>
    <servlet-name>AjoutParametre</servlet-name>
    <servlet-class>com.ws.servlets.parametre.AjoutParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutParametre</servlet-name>
    <url-pattern>/ajoutParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionParametre</display-name>
    <servlet-name>SuppressionParametre</servlet-name>
    <servlet-class>com.ws.servlets.parametre.SuppressionParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionParametre</servlet-name>
    <url-pattern>/suppressionParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionMetier</display-name>
    <servlet-name>GestionMetier</servlet-name>
    <servlet-class>com.ws.servlets.metier.GestionMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMetier</servlet-name>
    <url-pattern>/gestionMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajMetier</display-name>
    <servlet-name>MajMetier</servlet-name>
    <servlet-class>com.ws.servlets.metier.MajMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajMetier</servlet-name>
    <url-pattern>/majMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieMetier</display-name>
    <servlet-name>CopieMetier</servlet-name>
    <servlet-class>com.ws.servlets.metier.CopieMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieMetier</servlet-name>
    <url-pattern>/copieMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationMetier</display-name>
    <servlet-name>VisualisationMetier</servlet-name>
    <servlet-class>com.ws.servlets.metier.VisualisationMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationMetier</servlet-name>
    <url-pattern>/visualisationMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutMetier</display-name>
    <servlet-name>AjoutMetier</servlet-name>
    <servlet-class>com.ws.servlets.metier.AjoutMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutMetier</servlet-name>
    <url-pattern>/ajoutMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionMetier</display-name>
    <servlet-name>SuppressionMetier</servlet-name>
    <servlet-class>com.ws.servlets.metier.SuppressionMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionMetier</servlet-name>
    <url-pattern>/suppressionMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionSociete</display-name>
    <servlet-name>GestionSociete</servlet-name>
    <servlet-class>com.ws.servlets.societe.GestionSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionSociete</servlet-name>
    <url-pattern>/gestionSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajSociete</display-name>
    <servlet-name>MajSociete</servlet-name>
    <servlet-class>com.ws.servlets.societe.MajSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajSociete</servlet-name>
    <url-pattern>/majSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieSociete</display-name>
    <servlet-name>CopieSociete</servlet-name>
    <servlet-class>com.ws.servlets.societe.CopieSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieSociete</servlet-name>
    <url-pattern>/copieSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationSociete</display-name>
    <servlet-name>VisualisationSociete</servlet-name>
    <servlet-class>com.ws.servlets.societe.VisualisationSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationSociete</servlet-name>
    <url-pattern>/visualisationSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutSociete</display-name>
    <servlet-name>AjoutSociete</servlet-name>
    <servlet-class>com.ws.servlets.societe.AjoutSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutSociete</servlet-name>
    <url-pattern>/ajoutSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionSociete</display-name>
    <servlet-name>SuppressionSociete</servlet-name>
    <servlet-class>com.ws.servlets.societe.SuppressionSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionSociete</servlet-name>
    <url-pattern>/suppressionSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUtilisateur</display-name>
    <servlet-name>GestionUtilisateur</servlet-name>
    <servlet-class>com.ws.servlets.utilisateur.GestionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUtilisateur</servlet-name>
    <url-pattern>/gestionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajUtilisateur</display-name>
    <servlet-name>MajUtilisateur</servlet-name>
    <servlet-class>com.ws.servlets.utilisateur.MajUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajUtilisateur</servlet-name>
    <url-pattern>/majUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieUtilisateur</display-name>
    <servlet-name>CopieUtilisateur</servlet-name>
    <servlet-class>com.ws.servlets.utilisateur.CopieUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieUtilisateur</servlet-name>
    <url-pattern>/copieUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationUtilisateur</display-name>
    <servlet-name>VisualisationUtilisateur</servlet-name>
    <servlet-class>com.ws.servlets.utilisateur.VisualisationUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationUtilisateur</servlet-name>
    <url-pattern>/visualisationUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutUtilisateur</display-name>
    <servlet-name>AjoutUtilisateur</servlet-name>
    <servlet-class>com.ws.servlets.utilisateur.AjoutUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutUtilisateur</servlet-name>
    <url-pattern>/ajoutUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionUtilisateur</display-name>
    <servlet-name>SuppressionUtilisateur</servlet-name>
    <servlet-class>com.ws.servlets.utilisateur.SuppressionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionUtilisateur</servlet-name>
    <url-pattern>/suppressionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionContact</display-name>
    <servlet-name>GestionContact</servlet-name>
    <servlet-class>com.ws.servlets.contact.GestionContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionContact</servlet-name>
    <url-pattern>/gestionContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajContact</display-name>
    <servlet-name>MajContact</servlet-name>
    <servlet-class>com.ws.servlets.contact.MajContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajContact</servlet-name>
    <url-pattern>/majContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieContact</display-name>
    <servlet-name>CopieContact</servlet-name>
    <servlet-class>com.ws.servlets.contact.CopieContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieContact</servlet-name>
    <url-pattern>/copieContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationContact</display-name>
    <servlet-name>VisualisationContact</servlet-name>
    <servlet-class>com.ws.servlets.contact.VisualisationContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationContact</servlet-name>
    <url-pattern>/visualisationContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutContact</display-name>
    <servlet-name>AjoutContact</servlet-name>
    <servlet-class>com.ws.servlets.contact.AjoutContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutContact</servlet-name>
    <url-pattern>/ajoutContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionContact</display-name>
    <servlet-name>SuppressionContact</servlet-name>
    <servlet-class>com.ws.servlets.contact.SuppressionContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionContact</servlet-name>
    <url-pattern>/suppressionContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTypePrix</display-name>
    <servlet-name>GestionTypePrix</servlet-name>
    <servlet-class>com.ws.servlets.typePrix.GestionTypePrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTypePrix</servlet-name>
    <url-pattern>/gestionTypePrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajTypePrix</display-name>
    <servlet-name>MajTypePrix</servlet-name>
    <servlet-class>com.ws.servlets.typePrix.MajTypePrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajTypePrix</servlet-name>
    <url-pattern>/majTypePrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieTypePrix</display-name>
    <servlet-name>CopieTypePrix</servlet-name>
    <servlet-class>com.ws.servlets.typePrix.CopieTypePrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieTypePrix</servlet-name>
    <url-pattern>/copieTypePrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTypePrix</display-name>
    <servlet-name>VisualisationTypePrix</servlet-name>
    <servlet-class>com.ws.servlets.typePrix.VisualisationTypePrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTypePrix</servlet-name>
    <url-pattern>/visualisationTypePrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTypePrix</display-name>
    <servlet-name>AjoutTypePrix</servlet-name>
    <servlet-class>com.ws.servlets.typePrix.AjoutTypePrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTypePrix</servlet-name>
    <url-pattern>/ajoutTypePrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionTypePrix</display-name>
    <servlet-name>SuppressionTypePrix</servlet-name>
    <servlet-class>com.ws.servlets.typePrix.SuppressionTypePrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTypePrix</servlet-name>
    <url-pattern>/suppressionTypePrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTypeDocument</display-name>
    <servlet-name>GestionTypeDocument</servlet-name>
    <servlet-class>com.ws.servlets.typeDocument.GestionTypeDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTypeDocument</servlet-name>
    <url-pattern>/gestionTypeDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajTypeDocument</display-name>
    <servlet-name>MajTypeDocument</servlet-name>
    <servlet-class>com.ws.servlets.typeDocument.MajTypeDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajTypeDocument</servlet-name>
    <url-pattern>/majTypeDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieTypeDocument</display-name>
    <servlet-name>CopieTypeDocument</servlet-name>
    <servlet-class>com.ws.servlets.typeDocument.CopieTypeDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieTypeDocument</servlet-name>
    <url-pattern>/copieTypeDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTypeDocument</display-name>
    <servlet-name>VisualisationTypeDocument</servlet-name>
    <servlet-class>com.ws.servlets.typeDocument.VisualisationTypeDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTypeDocument</servlet-name>
    <url-pattern>/visualisationTypeDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTypeDocument</display-name>
    <servlet-name>AjoutTypeDocument</servlet-name>
    <servlet-class>com.ws.servlets.typeDocument.AjoutTypeDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTypeDocument</servlet-name>
    <url-pattern>/ajoutTypeDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionTypeDocument</display-name>
    <servlet-name>SuppressionTypeDocument</servlet-name>
    <servlet-class>com.ws.servlets.typeDocument.SuppressionTypeDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTypeDocument</servlet-name>
    <url-pattern>/suppressionTypeDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionContrat</display-name>
    <servlet-name>GestionContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.GestionContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionContrat</servlet-name>
    <url-pattern>/gestionContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajContrat</display-name>
    <servlet-name>MajContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.MajContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajContrat</servlet-name>
    <url-pattern>/majContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieContrat</display-name>
    <servlet-name>CopieContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.CopieContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieContrat</servlet-name>
    <url-pattern>/copieContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationContrat</display-name>
    <servlet-name>VisualisationContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.VisualisationContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationContrat</servlet-name>
    <url-pattern>/visualisationContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutContrat</display-name>
    <servlet-name>AjoutContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.AjoutContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutContrat</servlet-name>
    <url-pattern>/ajoutContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionContrat</display-name>
    <servlet-name>SuppressionContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.SuppressionContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionContrat</servlet-name>
    <url-pattern>/suppressionContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnulationContrat</display-name>
    <servlet-name>AnnulationContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.AnnulationContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnulationContrat</servlet-name>
    <url-pattern>/annulationContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinContrat</display-name>
    <servlet-name>FinContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.FinContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinContrat</servlet-name>
    <url-pattern>/finContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VersionContrat</display-name>
    <servlet-name>VersionContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.VersionContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionContrat</servlet-name>
    <url-pattern>/versionContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenommageContrat</display-name>
    <servlet-name>RenommageContrat</servlet-name>
    <servlet-class>com.ws.servlets.contrat.RenommageContrat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenommageContrat</servlet-name>
    <url-pattern>/renommageContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionMission</display-name>
    <servlet-name>GestionMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.GestionMission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMission</servlet-name>
    <url-pattern>/gestionMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajMission</display-name>
    <servlet-name>MajMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.MajMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajMission</servlet-name>
    <url-pattern>/majMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopieMission</display-name>
    <servlet-name>CopieMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.CopieMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopieMission</servlet-name>
    <url-pattern>/copieMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationMission</display-name>
    <servlet-name>VisualisationMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.VisualisationMission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationMission</servlet-name>
    <url-pattern>/visualisationMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutMission</display-name>
    <servlet-name>AjoutMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.AjoutMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutMission</servlet-name>
    <url-pattern>/ajoutMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionMission</display-name>
    <servlet-name>SuppressionMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.SuppressionMission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionMission</servlet-name>
    <url-pattern>/suppressionMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnulationMission</display-name>
    <servlet-name>AnnulationMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.AnnulationMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnulationMission</servlet-name>
    <url-pattern>/annulationMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinMission</display-name>
    <servlet-name>FinMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.FinMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinMission</servlet-name>
    <url-pattern>/finMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VersionMission</display-name>
    <servlet-name>VersionMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.VersionMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionMission</servlet-name>
    <url-pattern>/versionMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenommageMission</display-name>
    <servlet-name>RenommageMission</servlet-name>
    <servlet-class>com.ws.servlets.mission.RenommageMission</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenommageMission</servlet-name>
    <url-pattern>/renommageMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionEcritureBanque_import</display-name>
    <servlet-name>GestionEcritureBanque_import</servlet-name>
    <servlet-class>com.ws.servlets.ecritureBanque.GestionEcritureBanque_import</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEcritureBanque_import</servlet-name>
    <url-pattern>/gestionEcritureBanque_import</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationEcritureBanque_import</display-name>
    <servlet-name>VisualisationEcritureBanque_import</servlet-name>
    <servlet-class>com.ws.servlets.ecritureBanque.VisualisationEcritureBanque_import</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationEcritureBanque_import</servlet-name>
    <url-pattern>/visualisationEcritureBanque_import</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportEcritureBanque_import</display-name>
    <servlet-name>ImportEcritureBanque_import</servlet-name>
    <servlet-class>com.ws.servlets.ecritureBanque.ImportEcritureBanque_import</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportEcritureBanque_import</servlet-name>
    <url-pattern>/importEcritureBanque_import</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RapprochementEcritureBanque</display-name>
    <servlet-name>RapprochementEcritureBanque</servlet-name>
    <servlet-class>com.ws.servlets.ecritureBanque.RapprochementEcritureBanque</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>RapprochementEcritureBanque</servlet-name>
    <url-pattern>/rapprochementEcritureBanque</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionFactureAchat</display-name>
    <servlet-name>GestionFactureAchat</servlet-name>
    <servlet-class>com.ws.servlets.factureAchat.GestionFactureAchat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionFactureAchat</servlet-name>
    <url-pattern>/gestionFactureAchat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationFactureAchat</display-name>
    <servlet-name>VisualisationFactureAchat</servlet-name>
    <servlet-class>com.ws.servlets.factureAchat.VisualisationFactureAchat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationFactureAchat</servlet-name>
    <url-pattern>/visualisationFactureAchat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportFactureAchat</display-name>
    <servlet-name>ImportFactureAchat</servlet-name>
    <servlet-class>com.ws.servlets.factureAchat.ImportFactureAchat</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportFactureAchat</servlet-name>
    <url-pattern>/importFactureAchat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OuvrirPdf</display-name>
    <servlet-name>OuvrirPdf</servlet-name>
    <servlet-class>com.ws.servlets.OuvrirPdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OuvrirPdf</servlet-name>
    <url-pattern>/ouvrirPdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportFichier</servlet-name>
    <servlet-class>com.ws.servlets.importDoc.ImportFichier</servlet-class>
    <multipart-config>
      <location>C:\Users\fougery\Documents\tampon</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportFichier</servlet-name>
    <url-pattern>/importFichier</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ws.configuration.ParametreListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PdfServlet</display-name>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>com.ws.servlets.pdf.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.ws.menu.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestiongenererParametrage</display-name>
    <servlet-name>GestiongenererParametrage</servlet-name>
    <servlet-class>com.ws.servlets.genererParametrage.GestiongenererParametrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestiongenererParametrage</servlet-name>
    <url-pattern>/gestiongenererParametrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutFactureVente</display-name>
    <servlet-name>AjoutFactureVente</servlet-name>
    <servlet-class>com.ws.servlets.factureVente.AjoutFactureVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutFactureVente</servlet-name>
    <url-pattern>/ajoutFactureVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionfactureVente</display-name>
    <servlet-name>ActionfactureVente</servlet-name>
    <servlet-class>com.ws.servlets.factureVente.ActionfactureVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionfactureVente</servlet-name>
    <url-pattern>/actionfactureVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAdresse</display-name>
    <servlet-name>ClientAdresse</servlet-name>
    <servlet-class>com.ws.servlets.factureVente.ClientAdresse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAdresse</servlet-name>
    <url-pattern>/ClientAdresse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFactureServlet</display-name>
    <servlet-name>DownloadFactureServlet</servlet-name>
    <servlet-class>com.ws.servlets.factureVente.DownloadFactureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFactureServlet</servlet-name>
    <url-pattern>/DownloadFactureServlet</url-pattern>
  </servlet-mapping>
</web-app>